.button-component {
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 0 20px;
  border-radius: 100px;
  border: none;
  cursor: pointer;
  margin: 0 2vw;
}

.button-component:focus {
  outline: none;
  border: none;
}

.button-component p {
  display: block;
  font-size: 1.35rem;
  font-weight: bold;
}

.has-icon {
  height: 80px;
}

.has-icon p {
  padding-left: 10px;
}

@media screen and (max-width: 500px) {
  .only-text {
    width: 100px !important;
    height: 65px;
  }

  .only-text p {
    font-size: 1.2rem !important;
    padding: 0 10px !important;
    margin: 0 !important;
  }

  .has-icon {
    width: 80px !important;
    border-radius: 40px !important;
  }

  .has-icon p {
    display: none !important;
  }
}
