/* Card in general */

.card {
  border-radius: 5px;
  color: #fff;
  position: relative;
  box-shadow: 2px 2px 15px 0px rgba(0, 0, 0, 0.4);
}

.container {
  z-index: 1;
}

.card-sinopse {
  z-index: 1;
}

.layer {
  background-image: linear-gradient(
    rgba(255, 255, 255, 0.25),
    rgba(59, 59, 59, 1)
  );
  border-radius: 5px;
  position: absolute;
  z-index: 0;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}

.card-title {
  font-weight: bold;
  padding-bottom: 5px;
}

.card-rating {
  padding-bottom: 5px;
}

.card-rating img {
  padding: 0 5px 0 0;
}

.card-number-ratings {
  text-align: end;
}

/* Big card */

.card-big {
  width: calc(700px - 80px);
  height: calc(460px - 80px);
  padding: 40px;

  display: flex;
  flex-direction: column;
  justify-content: flex-end;
}

.container-big {
  display: flex;
  justify-content: space-between;
  align-items: flex-end;
  padding: 15px 0;
}

.card-title-big {
  font-size: 2rem;
}

/* Small card */

.card-small {
  width: calc(294px - 40px);
  height: calc(350px - 40px);
  padding: 20px;

  display: flex;
  flex-direction: column;
  justify-content: flex-end;
}

.card-info-small {
  display: none;
}

.container-small {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: flex-start;
  padding: 15px 0;
}

.container-rating-small {
  display: flex;
  justify-content: space-between;
  font-size: 1rem;
  width: 100%;
}

.card-title-small {
  font-size: 1.35rem;
}

.card-rating-small img {
  max-width: 20px;
}

@media screen and (max-width: 500px) {
  .card-big {
    width: calc(294px - 40px) !important;
    height: calc(350px - 40px) !important;
    padding: 20px !important;
  }

  .container-big {
    flex-direction: column;
    align-items: flex-start;
  }

  .container-rating-big {
    display: flex;
    justify-content: space-between;
    font-size: 1rem;
    width: 100%;
  }

  .card-title-big {
    font-size: 1.2rem !important;
  }

  .card-info-big {
    display: none;
  }

  .card-small {
    width: calc(145px - 20px) !important;
    height: calc(174px - 20px) !important;
    padding: 10px !important;
  }

  .card-title-small {
    font-size: 1rem;
  }

  .card-sinopse-small {
    display: none;
  }

  .card-number-ratings-small {
    display: none;
  }
}

.show-overview-button {
  text-decoration: underline;
  background-color: transparent !important;
  outline: none;
  border: none;
  cursor: pointer;
  font-size: 1rem;
  color: #ff5656;
}
