.header {
  width: calc(100vw - 20px);
  min-height: 90px;
  margin: 0 10px;
  display: flex;
  align-items: center;
}

.hamburguer-container {
  width: 10%;
  display: flex;
  align-items: center;
  justify-content: center;
}

.logo-container {
  width: 90%;
  display: flex;
  align-items: center;
  justify-content: center;
}

.logo-container img {
  margin-left: -10%;
}

.hamburguer-menu {
  cursor: pointer;
}

@media screen and (min-width: 501px) {
  .hamburguer-menu {
    display: none;
  }

  .logo-container {
    width: 100% !important;
  }

  .logo-container img {
    margin-left: 0 !important;
  }
  

  .hamburguer-container {
    width: 0% !important;
  }
}
