.app {
  display: flex;
  height: fit-content;
  width: 100vw;
  overflow-x: hidden;
}

.body-content {
  display: flex;
  flex-direction: column;
  width: 100%;
  align-items: center;
  margin: 20px 10px;
}

@media screen and (min-width: 500px) {
  .app {
    flex-direction: column;
  }

  .body-content {
    margin: 20px 0;
  }
}
